/*#arsenal-chart {
	font: 6px sans-serif;
  zoom: 0.5
  -moz-transform: scale(0.5)
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke: lightgrey;
  cursor: pointer;
}

.legend {
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.active {
	opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.stock text {
  font-weight: bold;
}*/
