.axis path,
.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
}

text {
	font-family: 'Helvetica';
}

.d3-tip {
	font-family: 'Helvetica';
	font-weight: bold;
	text-align: center;
	font-size: 75%;
}

#election-barchart {
	text-align: center;
}
