.axis path,
.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
}

h1 {
	font-family: 'Helvetica';
}

h2
 {
	font-family: 'Helvetica';
}

text {
	font-family: 'Helvetica';
}

.d3-tip {
	font-weight: bold;
	text-align: center;
}
